<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>

<div id="section">
    <table class="table table-hover">
        <tr>
            <th>id</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>title</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>writer</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th>date</th>
            <td th:text="${board.createdAt}"></td>
        </tr>
        <tr>
            <th>hits</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th>contents</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
    </table>
    <div class="container">
        <button class="btn btn-primary" onclick="list_req()">목록</button>
        <button class="btn btn-warning" onclick="req('update')">수정</button>
        <button class="btn btn-danger" onclick="req('delete')">삭제</button>
    </div>
    <div id="pass-check">

    </div>

</div>

<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">
    const list_req = () => {
        location.href = "/board/";
    }

    const req = (type) => {
        console.log("type", type);
        document.getElementById("pass-check").innerHTML = "<input type=\"text\" placeholder=\"password\" id=\"password\">\n" +
            "        <button onclick=\"pass_check('" + type + "')\">확인</button>";
    }

    const pass_check = (type) => {
        console.log("pass_check type 변수 값", type);
        const password = document.getElementById("password").value;
        const passDB = [[${board.boardPass}]];
        const id = [[${board.id}]];
        if (password == passDB) {
            if (type == "update") {
                location.href = "/board/update/" + id;
            } else if (type == "delete") {
                // location.href = "/board/delete/"+id;
                axios({
                    method: "delete",
                    url: "/board/"+id
                }).then(res => {
                    location.href = "/board/";
                }).catch(err => {
                    alert("삭제 실패!!");
                });
            }
        } else {
            alert("비밀번호 불일치!!");
        }
    }

    const delete_pass_check = () => {
        const password = document.getElementById("password").value;
        const passDB = [[${board.boardPass}]];
        const id = [[${board.id}]];
        if (password == passDB) {

        } else {
            alert("비밀번호 불일치!!");
        }
    }



</script>
</html>