<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
    <form action="/board/save" method="post" enctype="multipart/form-data">
        <input type="text" name="boardWriter" class="form-control" placeholder="작성자">
        <input type="text" name="boardPass" class="form-control" placeholder="비밀번호">
        <input type="text" name="boardTitle" class="form-control" placeholder="제목">
        <textarea name="boardContents" cols="30" rows="10" class="form-control" placeholder="내용을 입력하세요"></textarea>
        <input type="file" name="boardFile" class="form-control">
        <input type="submit" value="작성" class="btn btn-primary">
    </form>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
</html>