<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>

<div id="section">
    <table class="table table-hover">
        <tr>
            <th>id</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>title</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>writer</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th>date</th>
            <td th:text="${board.createdAt}"></td>
        </tr>
        <tr>
            <th>hits</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th>contents</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
        <tr th:if="${board.fileAttached == 1}">
            <th>image</th>
            <td th:each="fileName: ${board.storedFileName}">
                <img th:src="@{|/upload/${fileName}}" width="200" height="200" alt="">
            </td>
        </tr>
    </table>
    <div class="container">
        <button class="btn btn-primary" onclick="list_req()">목록</button>
        <button class="btn btn-warning" onclick="req('update')">수정</button>
        <button class="btn btn-danger" onclick="req('delete')">삭제</button>
    </div>
    <div id="pass-check">

    </div>
    <div class="container" id="comment-write">
        <input type="text" id="comment-writer" placeholder="작성자">
        <input type="text" id="comment-contents" placeholder="내용">
        <button onclick="comment_write()">댓글작성</button>
    </div>
    <div class="container" id="comment-list">
        <div th:if="${commentList == null}">
            <p>작성된 댓글이 없습니다.</p>
        </div>
        <div th:unless="${commentList == null}">
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>writer</th>
                    <th>contents</th>
                    <th>date</th>
                </tr>
                <tr th:each="comment:${commentList}">
                    <td th:text="${comment.id}"></td>
                    <td th:text="${comment.commentWriter}"></td>
                    <td th:text="${comment.commentContents}"></td>
                    <td th:text="${comment.createdAt}"></td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">
    const list_req = () => {
        location.href = "/board/";
    }

    const req = (type) => {
        console.log("type", type);
        document.getElementById("pass-check").innerHTML = "<input type=\"text\" placeholder=\"password\" id=\"password\">\n" +
            "        <button onclick=\"pass_check('" + type + "')\">확인</button>";
    }

    const pass_check = (type) => {
        console.log("pass_check type 변수 값", type);
        const password = document.getElementById("password").value;
        const passDB = [[${board.boardPass}]];
        const id = [[${board.id}]];
        if (password == passDB) {
            if (type == "update") {
                location.href = "/board/update/" + id;
            } else if (type == "delete") {
                // location.href = "/board/delete/"+id;
                axios({
                    method: "delete",
                    url: "/board/" + id
                }).then(res => {
                    location.href = "/board/";
                }).catch(err => {
                    alert("삭제 실패!!");
                });
            }
        } else {
            alert("비밀번호 불일치!!");
        }
    }

    const delete_pass_check = () => {
        const password = document.getElementById("password").value;
        const passDB = [[${board.boardPass}]];
        const id = [[${board.id}]];
        if (password == passDB) {

        } else {
            alert("비밀번호 불일치!!");
        }
    }

    const comment_list = (commentList) => {
        console.log("댓글 목록 함수", commentList);
        const resultArea = document.querySelector("#comment-list");
        let output = "        <table class=\"table\">\n" +
            "            <tr>\n" +
            "                <th>id</th>\n" +
            "                <th>writer</th>\n" +
            "                <th>contents</th>\n" +
            "                <th>date</th>\n" +
            "            </tr>";
        for (let i in commentList) {
            output += "<tr>\n" +
                "                <td>" + commentList[i].id + "</td>\n" +
                "                <td>" + commentList[i].commentWriter + "</td>\n" +
                "                <td>" + commentList[i].commentContents + "</td>\n" +
                "                <td>" + commentList[i].createdAt + "</td>\n" +
                "            </tr>";
        }
        output += "</table>";
        resultArea.innerHTML = output;
    }
    const comment_write = () => {
        const writer = document.querySelector("#comment-writer").value;
        const contents = document.querySelector("#comment-contents").value;
        const boardId = [[${board.id}]];
        axios({
            method: "post",
            url: "/comment/save",
            data: {
                commentWriter: writer,
                commentContents: contents,
                boardId: boardId
            }
        }).then(res => {
            console.log("res", res);
            console.log("댓글 목록", res.data);
            document.querySelector("#comment-writer").value = "";
            document.querySelector("#comment-contents").value = "";
            comment_list(res.data);

        }).catch(err => {
            console.log("err", err);
        });
    }


</script>
</html>