<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:fragment="nav" id="nav">
    <div class="menu">
        <a href="/">
            home
        </a>
    </div>
    <div class="menu">
        <a href="/board/save">글작성</a>
    </div>
    <div class="menu">
        <a href="/board/">글목록</a>
    </div>
    <div class="menu">
        <!--@{/board(page=1)}의 형태는 실제 /board?page=1형태의 주솟값이다
            7페이지에 있는 33번글 조회
            rest api => /board/7/33
            /board/33 => 이 주솟값의 페이지는 33번글 이어야만 한다(주솟값만 가지고도 어떤 데이턴지를 딱 알수 있어야함)
            /board/33??page=7(우리는 이렇게 쓸거임 => 페이지랑, 검색어는 쿼리스트링 형식으로 쓸거임)=>@{/board(page=1)}
        -->
        <a th:href="@{/board(page=1)}">페이징목록</a>
    </div>
    <div class="menu search">
        <select name="type" id="type">
            <option value="writer">작성자</option>
            <option value="title">제목</option>
        </select>
        <input type="text" placeholder="검색어를 입력하세요" id="q" style="display: inline-block;">
        <i class="bi bi-search" onclick="search_func()"></i>
    </div>
<!-- id=nav인 곳만 들고 가서 적용이되기때문에 스크립트를 밑에쓰면 적용이 안되므로 nav안에서 script를 정의한다   -->
    <script>
        const search_func = () => {
            const type = document.querySelector("#type").value;
            const q = document.querySelector("#q").value;
            location.href = "/board?type=" + type + "&q=" + q;
        }
    </script>
</div>
</body>

</html>